n8n-workflows/wf3-research.json
{
  "name": "WF-3 Research Sub-Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "wf3-trigger",
      "name": "Sub-Workflow Entry",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const { topic_id, correlation_id, run_id } = $input.item.json;\n\nif (!topic_id) {\n  throw new Error('WF-3: topic_id is required');\n}\nif (!correlation_id) {\n  throw new Error('WF-3: correlation_id is required');\n}\n\nreturn [{\n  json: {\n    topic_id,\n    correlation_id,\n    run_id: run_id || $execution.id,\n    started_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf3-validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qjpujskwqaehxnqypxzu.supabase.co/rest/v1/pipeline_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials[\"Supabase Service Role\"].value }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials[\"Supabase Service Role\"].value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"WF-3\",\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"status\": \"running\",\n  \"started_at\": \"{{ $json.started_at }}\"\n}",
        "options": {
          "retry": {
            "maxTries": 3,
            "retryInterval": 2000
          }
        }
      },
      "id": "wf3-log-start",
      "name": "Log Research Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [710, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fhcontent-creator-v2.vercel.app/api/topics/research",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials[\"Vercel Cron Secret\"].value }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $('Validate Input').item.json.correlation_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic_id\": \"{{ $('Validate Input').item.json.topic_id }}\",\n  \"correlation_id\": \"{{ $('Validate Input').item.json.correlation_id }}\"\n}",
        "options": {
          "timeout": 50000
        }
      },
      "id": "wf3-research",
      "name": "Call Research Route",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Vercel Cron Secret"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "research-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf3-success-check",
      "name": "Research Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1170, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format error for WF-Error routing\nreturn [{\n  json: {\n    workflow_id: 'WF-3',\n    topic_id: $('Validate Input').item.json.topic_id,\n    correlation_id: $('Validate Input').item.json.correlation_id,\n    error_type: 'research_api_failure',\n    error_message: $input.item.json.message || $input.item.json.error || 'Research route failed',\n    status_code: $input.item.json.statusCode\n  }\n}];"
      },
      "id": "wf3-format-error",
      "name": "Format Research Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 480]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "__depictor": {
            "mode": "name",
            "value": "WF-Error-Handler"
          }
        },
        "options": {}
      },
      "id": "wf3-error-handler",
      "name": "Route to WF-Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1630, 480]
    },
    {
      "parameters": {
        "jsCode": "// Build the research callback payload\nconst researchData = $input.item.json;\nconst ctx = $('Validate Input').item.json;\n\nconst payload = {\n  topic_id: ctx.topic_id,\n  correlation_id: ctx.correlation_id,\n  run_id: ctx.run_id,\n  research_result: researchData.research || researchData,\n  completed_at: new Date().toISOString()\n};\n\nreturn [{ json: payload }];"
      },
      "id": "wf3-build-payload",
      "name": "Build Research Callback Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 180]
    },
    {
      "parameters": {
        "jsCode": "// Sign the research callback with HMAC-SHA256\nconst crypto = require('crypto');\nconst secret = '={{ $credentials[\"N8N Signing Secret\"].value }}';\nconst body = JSON.stringify($input.item.json);\nconst sig = crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nreturn [{\n  json: {\n    _payload: body,\n    _hmac: 'sha256=' + sig,\n    correlation_id: $input.item.json.correlation_id\n  }\n}];"
      },
      "id": "wf3-sign",
      "name": "Sign Research Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1630, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qjpujskwqaehxnqypxzu.supabase.co/functions/v1/n8n-research-callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Signature",
              "value": "={{ $json._hmac }}"
            },
            {
              "name": "X-Correlation-ID",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials[\"Supabase Service Role\"].value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json._payload }}",
        "options": {
          "retry": {
            "maxTries": 3,
            "retryInterval": 2000
          }
        }
      },
      "id": "wf3-callback",
      "name": "POST to Research Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjpujskwqaehxnqypxzu.supabase.co/rest/v1/pipeline_runs?run_id=eq.{{ $('Validate Input').item.json.run_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials[\"Supabase Service Role\"].value }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials[\"Supabase Service Role\"].value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "wf3-log-complete",
      "name": "Log Research Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2090, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Return completion signal to WF-1 (calling workflow)\nreturn [{\n  json: {\n    success: true,\n    topic_id: $('Validate Input').item.json.topic_id,\n    correlation_id: $('Validate Input').item.json.correlation_id,\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf3-return",
      "name": "Return to WF-1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 180]
    }
  ],
  "connections": {
    "Sub-Workflow Entry": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Log Research Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Research Start": {
      "main": [
        [
          {
            "node": "Call Research Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Research Route": {
      "main": [
        [
          {
            "node": "Research Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Succeeded?": {
      "main": [
        [
          {
            "node": "Build Research Callback Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Research Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Research Error": {
      "main": [
        [
          {
            "node": "Route to WF-Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Research Callback Payload": {
      "main": [
        [
          {
            "node": "Sign Research Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Research Callback": {
      "main": [
        [
          {
            "node": "POST to Research Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Research Callback": {
      "main": [
        [
          {
            "node": "Log Research Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Research Complete": {
      "main": [
        [
          {
            "node": "Return to WF-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "WF-Error-Handler"
  },
  "tags": [
    {
      "name": "production"
    },
    {
      "name": "sub-workflow"
    }
  ]
}